/* ======TESTIMONIALS====== */
#content {
	max-width: 600px;
	margin: 5vh auto;
  }
  
  .testimonial blockquote {
	margin: 10px 10px 0;
	background: #efefef;
	padding: 20px 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-style: italic;
  }
  
  .testimonial blockquote:before,
  .testimonial blockquote:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	line-height: 1;
	color: #757f9a;
	font-style: normal;
  }
  
  .testimonial blockquote:before {
	top: 0;
	left: 10px;
  }
  
  .testimonial blockquote:after {
	content: "\201D";
	right: 10px;
	bottom: -0.5em;
  }
  
  .testimonial div {
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #efefef;
	margin: 0 0 0 60px;
  }
  
  .testimonial p {
	margin: 8px 0 0 20px;
	text-align: left;
	color: black;
  }

  /* ======= BLOGS ======= */

  .lists{
    max-width: 1000px;
  }

 tblNews{
    /* float: right; */
    margin-right: 20%;
  }

  .wa-btn-container{
	border-radius: 50%;
	position: fixed;
	display: inline-block;
	right: 0.9%;
	bottom: 12%;
	width: 50px;
	height: 50px;
	/* background-color: green; */
	background-image:url('/assets/img/wa.png');
	background-size: 50px 50px;
}

@media screen and (max-width: 505px){
	.wa-btn-container{
		border-radius: 50%;
		display: inline-block;
		position: fixed;
		right: 1.8%;
		bottom: 13%;
		width: 50px;
		height: 50px;
		/* background-color: green; */
		background-image: url("/assets/img/wa.png");
	}
	.wa-btn{
		border-radius: 50%;
		position: fixed;
		right: 0.8%;
		bottom: 10%;
		width: 30px;
		height: 30px;
		/* background-color: green; */
		/* background-image: url("/assets/img/wa.png"); */
	}

}

.photo-div{
	display: flex;
	width: 100%;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: center;
}
.grid-image{
	width: 820px; 
	height: 282px;
	display: block;
	flex-basis: 100%;
	padding: 10px;
	box-sizing: border-box;
}

@media only screen and (min-width: 640px){
	.grid-image{
		flex-basis: 50%;
	}
	.past-photo{
		flex-basis: 50%;
	}
}

@media only screen and (min-width: 700px){
	.grid-image{
		flex-basis: 1%;
	}
	.past-photo{
		flex-basis: 1%;
	}
}

@media only screen and (min-width: 1280px){
	.grid-image{
		flex-basis: 25%;
	}
	.past-photo{
		flex-basis: 25%;
	}
}

.project-container{
	display: flex;

}

.our-project-div{
	justify-content: center;
	margin-left: 170px;
}


.left-txt{
	width: 55%;
	display:table-row;
	margin-left: 10px;
	padding: 0px;
	padding-right: 15px;
}

.right-txt{
	width: 45%;
	display:contents;
}

.project-photo{
	/* margin-left: 180px;
	flex-basis: 25%;
	margin-bottom: 10px; */
	display: flex;
	width: 100%;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: center;
}
.past-photo{
	display: block;
	flex-basis: 100%;
	padding: 10px;
	box-sizing: border-box;
}

