/* ======TESTIMONIALS====== */
#content {
	max-width: 600px;
	margin: 5vh auto;
  }
  
  .testimonial blockquote {
	margin: 10px 10px 0;
	background: #efefef;
	padding: 20px 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-style: italic;
  }
  
  .testimonial blockquote:before,
  .testimonial blockquote:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	line-height: 1;
	color: #757f9a;
	font-style: normal;
  }
  
  .testimonial blockquote:before {
	top: 0;
	left: 10px;
  }
  
  .testimonial blockquote:after {
	content: "\201D";
	right: 10px;
	bottom: -0.5em;
  }
  
  .testimonial div {
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #efefef;
	margin: 0 0 0 60px;
  }
  
  .testimonial p {
	margin: 8px 0 0 20px;
	text-align: left;
	color: black;
  }

  /* ======= BLOGS ======= */

  .lists{
    max-width: 1000px;
  }

 tblNews{
    /* float: right; */
    margin-right: 20%;
  }

  .wa-btn{
	border-radius: 50%;
	position: fixed;
	right: 0.8%;
	bottom: 7%;
	width: 50px;
	height: 50px;
	/* background-color: green; */
	/* background-image: url("/assets/img/wa.png"); */
}

@media screen and (max-width: 520px){
	.wa-btn{
		border-radius: 50%;
		position: fixed;
		right: 0.8%;
		bottom: 10%;
		width: 30px;
		height: 30px;
		/* background-color: green; */
		/* background-image: url("/assets/img/wa.png"); */
	}
}